body{
    text-align: center;
    background-color: rgb(228, 216, 202);
}
h1{
    color: rgb(77, 97, 212);
    background-color:rgb(83, 164, 170)
}
h2{
    color: rgb(226, 4, 4);
}
h3{
    font-style: oblique;
    color: rgb(28, 59, 92);
}
h4{
    font-style: italic;
    font-size: larger;
    color: rgb(255, 0, 255);
}