body{
    text-align: center;
    background-color: black;
}
h2{
    color: rgb(164, 252, 142);
    
}
h1{
    color: rgb(202, 98, 168);
    
    
}
h4{
    color: rgb(164, 252, 142);
    font-style: oblique;

}



    
    
